In [ ]:
import pymongo 
import pandas as pd

In [ ]:
client = pymongo.MongoClient("mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.sample_supplies

In [ ]:
db.sales.find()
df = pd.DataFrame(list(db.sales.find()))

In [ ]:

client = pymongo.MongoClient("mongodb://Daniele:Daniele@cluster0-shard-00-00.cnikf.mongodb.net:27017,cluster0-shard-00-01.cnikf.mongodb.net:27017,cluster0-shard-00-02.cnikf.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-1hexrw-shard-0&authSource=admin&retryWrites=true&w=majority")
db2 = client.Messina

In [ ]:
db2.vendite.insert_many(df.to_dict("records"))

BulkWriteError: ignored

In [ ]:
df = pd.DataFrame(list(db2.vendite.find()))
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod,costumer
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 42, 'email': 'cauho@wit...",True,Online,{'age': 8}
1,5bd761dcae323e45a93cd005,2016-05-16 01:49:20.963,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 49, 'email': 'me@lih.st...",False,Phone,{'age': 8}
2,5bd761dcae323e45a93cd006,2017-02-06 11:18:38.404,[],Denver,"{'gender': 'M', 'age': 60, 'email': 'du@il.ug'...",False,In store,{'age': 8}
3,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 50, 'email': 'keecade@h...",False,Phone,{'age': 8}
4,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 51, 'email': 'worbiduh@...",False,In store,{'age': 8}
...,...,...,...,...,...,...,...,...
2346,5bd761deae323e45a93ce273,2015-01-02 16:29:41.368,"[{'name': 'notepad', 'tags': ['office', 'writi...",Seattle,"{'gender': 'F', 'age': 74, 'email': 'ce@zugij....",False,In store,{'age': 8}
2347,5bd761deae323e45a93ce295,2016-06-16 09:35:35.525,"[{'name': 'backpack', 'tags': ['school', 'trav...",Seattle,"{'gender': 'M', 'age': 55, 'email': 'hud@we.ve...",True,In store,{'age': 8}
2348,5bd761deae323e45a93ce299,2013-01-20 09:43:32.461,"[{'name': 'backpack', 'tags': ['school', 'trav...",New York,"{'gender': 'F', 'age': 73, 'email': 'na@fujre....",False,In store,{'age': 8}
2349,5bd761deae323e45a93ce2cb,2013-03-07 07:10:53.504,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 68, 'email': 'fibernep@...",False,Online,{'age': 8}
2350,5bd761deae323e45a93ce2f5,2013-11-29 20:26:51.691,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'F', 'age': 71, 'email': 'cedraztum...",False,Online,{'age': 8}

# 1. cancellare tutti i document relativi al negozio di San Diego

In [ ]:
result = db2.vendite.delete_many({"storeLocation" : "London"})
result.deleted_count

0

# 2. invecchiare i clienti di 8 anni

In [ ]:
result = db2.vendite.update_many({},{"$inc" : {"costumer.age": 8}})
result.modified_count

2351

# 3. cancellare tutti i tag 'stationary'

In [ ]:
result = db2.vendite.find({"items.tags": "stationary"})
df = pd.DataFrame(list(result))
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
result = db2.vendite.update_many({},{"$pull" : {"items" :{ "tags": "stationary"}}})
result.modified_count

0

# 4. eliminare tutti i document di clienti che hanno più di 80 anni e meno di 40

In [ ]:
result = db2.vendite.find({'$or': [{"customer.age" : {'$gt' : 80 }} , {"customer.age" : {'$lt' : 40 }}]})
df = pd.DataFrame(list(result))
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
result = db2.vendite.delete_many({'$or': [{"customer.age" : {'$gt' : 80 }} , {"customer.age" : {'$lt' : 40 }}]})
result.deleted_count

1509

# 5. calcolare il prezzo medio degli items

In [ ]:
result = db2.vendite.aggregate ([
                                 {"$unwind": "$items"}, #unwind toglie i dati dalla lista
                                 {"$group" : {"_id" : "null" , "media" : {"$avg":"$items.price"}}}
])
df = pd.DataFrame(list(result))
df

    _id                                media
0  null  173.1006272236131242587956252470681

# 6. modificare le mail che hanno il dominio .mz in .com

In [ ]:
result=db2.vendite.update_many({ "customer.email": { "$regex": "\.mz" } }, [{"$set": { "customer.email" : {"$replaceOne": { "input" : "$email", "find": ".mz", "replacement" : ".com" }}}}])
result.modified_count

8

# 7. modificare il tag 'school' in 'education'

In [ ]:
result=db2.vendite.update_many({ "customer.email": { "$regex": "\.School" } }, [{"$set": { "customer.email" : {"$replaceOne": { "input" : "$email", "find": ".mz", "replacement" : ".com" }}}}])
result.modified_count

# 8. aggiungere 7 anni alla data degli ordini

# 9. trovare il prodotto venduto più costoso

# 10. eliminare dagli ordini tutti i prodotti "envelopes"

# 11. copiare la collection "vendite" nella collection "vendite_modificata"

# 12. eliminare la collection "vendite"